.leftbuttons {
  width: 90%;
  border: 1px solid;
  font-size: 2rem;
  height: 75px;
  border-radius: 10px;
  border: $color-border;
  color: $color-button;
  background-color: $go;
  &:hover {
    border: 1px solid grey;
  }
}

.sleepbutton {
  width: 90%;
  border: 1px solid;
  font-size: 2rem;
  height: 75px;
  border-radius: 10px;
  border: $color-border;
  color: $color-button;
  background-color: $stop;
  &:hover {
    border: 1px solid grey;
  }
}

.round-button {
    display: $color-button-display;
    width: $color-button-width;
    height: $color-button-height;
    line-height: $color-button-line-height;
    border-radius: $color-button-border-radius;
    text-align: $color-button-text-align;
    text-decoration: $color-text-decoration;
    color: $color-button;
    box-shadow: $color-box-shadow;
    font-size: $color-font-size;
    font-weight: $color-font-weight;
    float: left;
    margin-right: 10px;
    margin-top:7px;
    margin-bottom: 7px;
    border: $color-border;
       &:hover {
    background: #262626;
  }
}

.round-red {
   background-color: #FF0000;
}

.round-blue {
   background-color: #0000FF;
}

.round-green {
   background-color: #00FF00;
}

/*boxes*/

.box {
border: $box-border;
border-radius: $box-radius;
box-shadow: $color-box-shadow;
background-color: $box-background-color;
padding: $box-padding;
text-align: center;
width: 90%;
}

.saved {
  height: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#result {
  margin-top: 20px;
  border: $box-border;
  border-radius: $box-radius;
  box-shadow: $color-box-shadow;
  background-color: $box-background-color;
  padding: $box-padding;
  text-align: center;
  width: 90%;
}

#kyubot, #clickme {
  margin-top: 25px;
  border: $box-border;
  border-radius: $box-radius;
  box-shadow: $color-box-shadow;
  background-color: $box-background-color;
/*  padding: $box-padding;*/
  padding: 70px;
  text-align: center;
  width: 90%;
  height: 200px;
  clear:both;
}

.clickhere {
  left:0; 
  right:0;
  margin-top:100px; 
  bottom:0;
  margin:auto;
  max-width:100%;
  max-height:100%;
  color: #c6c6c6;
}

.centerbuttons {
  
}


