.leftbuttons {
  width: 90%;
  border: 1px solid;
  margin-bottom: 7px;
  font-size: 2rem;
  height: 75px;
  border-radius: 10px;
  border: $color-border;
  color: $color-button;
  background-color: $go;
  &:hover {
    border: 1px solid grey;
  }
}

.sleepbutton {
  width: 90%;
  border: 1px solid;
  font-size: 2rem;
  height: 75px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 10px;
  border: $color-border;
  color: $color-button;
  background-color: $stop;
  &:hover {
    border: 1px solid grey;
  }
}

.round-button {
    display: $color-button-display;
    width: $color-button-width;
    height: $color-button-height;
    line-height: $color-button-line-height;
    border-radius: $color-button-border-radius;
    text-align: $color-button-text-align;
    text-decoration: $color-text-decoration;
    color: $color-button;
    box-shadow: $color-box-shadow;
    font-size: $color-font-size;
    font-weight: $color-font-weight;
    margin-left: 4px;
    margin-right: 4px;
    margin-top:7px;
    display: inline-block;
    margin-bottom: 5px;
    border: $color-border;
       &:hover {
    background: #262626;
  }
}

.round-red {
   background-color: #FF0000;
}

.round-blue {
   background-color: #0000FF;
}

.round-green {
   background-color: #008800;
}

.round-purple {
  background-color: #7D26CD;
}

.round-yellow {
  background-color: #ECE222;
}

.center {
  text-align: center;
  width: 90%;
}

.clear {
  clear:both;
}


/*boxes*/

.box {
border: $box-border;
border-radius: $box-radius;
box-shadow: $color-box-shadow;
background-color: $box-background-color;
padding: $box-padding;
text-align: center;
width: 90%;
}

.saved {
  height: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#result {
  margin-top: 20px;
  border: $box-border;
  border-radius: $box-radius;
  box-shadow: $color-box-shadow;
  background-color: $box-background-color;
  padding: $box-padding;
  text-align: center;
  width: 90%;
}

#kyubot, #clickme {
  margin-top: 25px;
  border: 2px solid orange;
  border-radius: 10%;
  box-shadow: $color-box-shadow;
  background-color: $box-background-color;
  text-align: center;
  width: 90%;
  height: 200px;
  clear:both;
}

.clickhere {
  padding-top: 80px;
  margin:0 auto;
  color: #c6c6c6;
}



