@import url(https://fonts.googleapis.com/css?family=Play:400,700);

$font-main: Play, Helvetica, Arial, sans-serif;
$font-weight-normal: 300;
$font-weight-heavy: 700;


$darkblue: #022933;
$yellow: #F3D350;
$stop: #e14646;
$go: #5bb75b;

$color-main: black;
$color-background: #B8B8B8;

$small: screen and (min-width: 600px);
$medium: screen and (min-width: 900px);
$large: screen and (min-width: 1200px);


$container-default-width: 80%;
$container-max-width: 1200px;

/*color buttons*/

$color-button-display:block;
$color-button-width: 60px;
$color-button-height: 60px;
$color-button-line-height:50px;
$color-button-border-radius: 50%;
$color-button-text-align:center;
$color-button-text-decoration:none;
$color-button-box-shadow: 0 0 3px gray;
$color-button-font-size:20px;
$color-button-font-weight:bold;
$color-button: #f5f5f5;
$color-border: 2px solid #f5f5f5;

/*Boxes*/

$box-border: 2px solid grey;
$box-radius: 5px;
$box-background-color: #efefef;
$box-padding: 8px;




